<div class="result-main">
    <div class="result-content" >
        <div>
            <h2>きょうのひづけ</h2>
            <hr class="title-style">
            <p><%= @today.i_day.strftime('%Y/%m/%d') %></p>
            <hr class="text-style">
        </div>
        <div>
            <h2>おしえてくれた たんじょうび</h2>
            <hr class="title-style">
            <p><%= @b_day.i_day.strftime('%Y/%m/%d') %></p>
            <hr class="text-style">
        </div>
        <div>
            <h2>うまれてから</h2>
            <hr class="title-style">
            <!-- （今日の日付 - 誕生日）で生後日数を算出 -->
            <% since = @today.i_day - @b_day.i_day %>
            <!-- date型の計算結果はRational（分数）型で出るため、numeratorで分子のみを出力 -->
            <p> <%= since.numerator %> にち</p>
            <hr class="text-style">

            <!-- 現在の日付と誕生日から、生後の%ヶ月と%日なのかを算出する -->
            <% since_month = (@today.i_day.year - @b_day.i_day.year) * 12 + @today.i_day.month - @b_day.i_day.month - (@today.i_day.day >= @b_day.i_day.day ? 0 : 1) %>
            <% since_days =  @today.i_day - (@b_day.i_day >> since_month) %>
            <!--計算ロジック-->
            <!-- (@today.i_day.year - @b_day.i_day.year) * 12 →　年の差分を求めて月変換 -->
            <!-- @today.i_day.month - @b_day.i_day.month →　そのまま月の差分を求める -->
            <!-- (@today.i_day.day >= @b_day.i_day.day ? 0 : 1)
                現在の日付 >= 誕生日の日付の場合は、そのまま月数を出したいので0で計算
                終了の日付 < 開始の日付の場合は、月数をマイナス-1にしたいので1で計算 -->
            <!-- @today.i_day - (@b_day.i_day >> since_month) → 上記で求めた満経過月数を入力された誕生日に足した日付と、現在の日付の差分日数を算出 -->
            <p><%= since_month %>かげつ と <%= since_days.numerator %>にち</p>
            <hr class="text-style">
        </div>
        <div>
            <h2>しんだん けっか</h2>
            <hr class="title-style">
            <% if since_month <= 11 %>
                <p>うまれて、まだ1ねん たっていない あなたは...</p>
                <hr class="text-style">
                <h3>まちがいなく あかちゃんです。</h3>
                <hr class="text-style">
            <% else %>
                <p>うまれて、もう <%= since_month %>かげつ も たっている あなたは...</p>
                <hr class="text-style">
                <h3>さすがに、あかちゃん とはいえません。</h3>
                <hr class="text-style">
            <% end %>
        </div>

        <div class="button">
            <%= link_to "さいしょ に もどる" , "/" %>
            <hr class="text-style">
        </div>
    </div>
</div>


